[submodule "item0/external/pybind11"]
	path = item0/external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "item1/external/pybind11"]
	path = item1/external/pybind11
	url = https://github.com/pybind/pybind11.git
